

.card-sh {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.cat-div {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.error {
	color: red;
}

.footer {
  height: 60px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 60px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}